@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply font-kanit;
    }

    .products-box::-webkit-scrollbar{
        width: 0px;
    }

    .products-box{
        scrollbar-width:none;
    }

    .product-data-box::-webkit-scrollbar{
        width: 0;
    }

    .product-data-box{
        scrollbar-width: none;
    }
}

@layer components{
    .d_container{
        @apply px-4 min-[400px]:px-8 sm:px-12 md:px-20 lg:px-24 xl:px-28;
    }

    .d_transition{
        @apply transition-all duration-300 ease-linear;
    }

    .d_mini_transition{
        @apply transition-all duration-100 ease-linear;
    }

    .slick-slider .slick-arrow::before{
        display: none !important;
    }
}
